---
import Layout from "@/layouts/Layout.astro";
import Editor from "@/components/Editor.astro";

import "@/styles/message-box.css";
---

<Layout
    title="Variables y tipos de datos"
    description="Un playground de JavaScript"
>
    <main>
        <h1>Variables y tipos de datos</h1>

        <h2>Variables</h2>
        <p>
            Una variable es un contenedor de información. Cada variable tiene un
            nombre y un valor.
        </p>

        <p>
            Nos sirvirá para almacenar valores que utilizaremos posteriormente.
        </p>

        <p>También podemos cambiar su valor.</p>

        <p>
            Para definir una variable, usamos la palabra 'let' seguido del
            nombre seguido de su valor inicial.
        </p>

        <div id="message-box"></div>

        <Editor code=`let nombre = "Pedro";
console.log('Nombre:', nombre);` />
    </main>
</Layout>

<script>
    import GoalChecker from "@/scripts/goal-checker.mjs";

    import goals from "@/scripts/lessons/variables-goals-1.mjs";

    const nextLessonLink = "/variables-y-tipos-de-datos/tipos-de-datos";

    const outputElement = document.querySelector(".console");

    const config = {
        goals: goals,
        nextLesson: {
            name: "Tipos de datos",
            link: nextLessonLink,
        },

        outputElement: outputElement,
    };

    // @ts-ignore
    const goalChecker = new GoalChecker(config);
    goalChecker.run();
</script>