---
import Layout from "@/layouts/Layout.astro";
import Editor from "@/components/Editor.astro";

import "@/styles/message-box.css";
---

<Layout
    title="Variables y tipos de datos: tipos de datos"
    description="Un playground de JavaScript"
>
    <main>
        <h1>Variables y tipos de datos</h1>

        <h2>Tipos de datos</h2>
        <p>
            Ya sabes que son las variables, es hora de adentrarnos en los tipos
            de datos.
        </p>

        <p>
            Los tipos de datos proporcionan una forma de clasificar y organizar
            la información lo que permite procesarlos y manipularlos de manera
            efectiva.
        </p>

        <p>Los tipos de datos más comunes en JavaScript son:</p>

        <ul>
            <li>strings</li>
            <li>numbers</li>
            <li>booleans</li>
            <li>null</li>
            <li>undefined</li>
            <li>objects</li>
            <li>arrays</li>
        </ul>

        <p>
            Hasta el momento veníamos utilizando los strings o cadena de
            caracteres. Ej: "Pedro", "Juan"
        </p>

        <p>
            Vamos a ver como podemos averiguar el tipo de dato que contiene una
            variable.
        </p>

        <div id="message-box"></div>

        <Editor
            code=`let nombre = "Pedro";
console.log("nombre es", typeof nombre);`
        />
    </main>
</Layout>

<script>
    import GoalChecker from "@/scripts/goal-checker.mjs";
    import goals from "@/scripts/lessons/tipos-de-datos-goals-2.mjs";

    const nextLessonLink = "/variables-y-tipos-de-datos/operaciones";
    const outputElement = document.querySelector(".console");

    const config = {
        goals: goals,
        nextLesson: {
            name: "Tipos de datos",
            link: nextLessonLink,
        },

        outputElement: outputElement,
    };

    // @ts-ignore
    const goalChecker = new GoalChecker(config);
    goalChecker.run();
</script>