#message-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.info {
    background-color: #f1f1f1;
}

.success {
    background-color: #dff0d8;
}

.warning {
    background-color: #fcf8e3;
}