---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Arrays" description="Un playground de JavaScript">
    <main>
        <h1>Arrays</h1>
        <p>No disponible</p>
    </main>
</Layout>