---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Estructuras de control"
    description="Un playground de JavaScript"
>
    <main>
        <h1>Estructuras de control</h1>
        <p>No disponible</p>
    </main>
</Layout>
