---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Bienvenido al playground de JavaScript" description="Un playground de JavaScript">
	<main>
		<h1>Bienvenido al playground de JavaScript</h1>
		<p>Aquí aprenderás los fundamentos de la programación con JavaScript.</p>
		<p>Explora las diferentes secciones del playground donde encontrarás guías y ejercicios.</p>
		<p>Es importante que los hagas en el orden que aparecen ya que los temas dependen de los anteriores</p>
	</main>
</Layout>