---
import Layout from '@/layouts/Layout.astro';
---

<Layout
    title="Objetos"
    description="Un playground de JavaScript"
>
    <main>
        <h1>Objetos</h1>
        <p>No disponible</p>
    </main>
</Layout>