---
import Layout from "@/layouts/Layout.astro";
import Editor from "@/components/Editor.astro";
---

<Layout title="Playground" description="Un playground de JavaScript">
    <main>
        <header>
            <h1>Playground</h1>
        </header>
        <Editor code=`console.log("Hola mundo");` />
    </main>
</Layout>



