---
import Layout from '@/layouts/Layout.astro';
---

<Layout
    title="Variables y tipos de datos"
    description="Un playground de JavaScript"
>
    <main>
        <h1>Variables y tipos de datos</h1>
        
        <h2>Variables</h2>
        <p>
            Una variable es un contenedor de información. Cada variable tiene un nombre y un valor.
        </p>

        <h2>Tipos de datos</h2>
        <p>
            JavaScript tiene 7 tipos de datos:
            <ul>
                <li>booleanos (true o false)</li>
                <li>números (enteros o decimales)</li>
                <li>strings (cadenas de texto)</li>
                <li>arrays (arreglos)</li>
                <li>objects (objetos)</li>
                <li>functions (funciones)</li>
                <li>undefined</li>
            </ul>
        </p>

    </main></Layout
>