---
const {title} = Astro.props;
---

<astro-collapsible>
    <button>
        {title}
    </button>

    <div class="hidden">
        <slot />
    </div>
</astro-collapsible>

<script>
    class Collapsible extends HTMLElement {
        constructor() {
            super();
            let show = this.getAttribute('show');
            // @ts-ignore
            this.querySelector('button').addEventListener('click', () => {
                if (show === 'true') {
                    show = 'false';
                } else {
                    show = 'true';
                }
                // @ts-ignore
                this.querySelector('div').classList.toggle('hidden');
                this.setAttribute('show', show);
            });
        }
    }

    customElements.define('astro-collapsible', Collapsible);
</script>

<style is:inline>
    .hidden {
        display: none;
    }
</style>

<style>
    button {
        border: 0;
        background-color: transparent;
        opacity: .7;
        font-size: 16px;
        font-weight: 600;
    }

    button:hover {
        cursor: pointer;
        opacity: 1;
    }

    button:active {
        opacity: .5;
    }
</style>