<footer>
    <div class="logo">JSPlayground &copy; 2024 - Eliseo Montenegro</div>
</footer>

<style>
    footer {
        display: flex;
        padding: 40px;
        align-items: center;
        justify-content: center;
    }
</style>