<header>
    <div class="logo">JSPlayground</div>
</header>

<style>
    .logo {
        background-color: rgb(254, 221, 2);
        font-size: 2rem;
        font-weight: bold;
        /* color: #00f; */
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
    }
</style>