<nav>
    <ul>
        <h2>Menu</h2>
        <li><a href="/introduccion">Introducción: ¿Qué es JavaScript?</a></li>
        <li>
            <a href="/variables-y-tipos-de-datos">Variables y Tipos de datos</a>
        </li>
        <li><a href="/estructuras-de-control">Estructuras de control</a></li>
        <li><a href="/bucles">Bucles</a></li>
        <li><a href="/funciones">Funciones</a></li>
        <!-- <li><a href="/clases">Clases</a></li> -->
        <!-- <li><a href="/eventos">Eventos</a></li> -->
        <li><a href="/arrays">Arrays</a></li>
        <li><a href="/objetos">Objetos</a></li>
        <!-- <li><a href="/promesas">Promesas</a></li> -->
        <!-- <li><a href="/async-await">Async/Await</a></li> -->
    </ul>
</nav>

<style>
    nav {
        background-color: #f1f1f1;
        height: 100%;
        border-radius: 12px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
    }
</style>