---
import Header from "@/components/Header.astro";
import Menu from "@/components/Menu.astro";
import Footer from "@/components/Footer.astro";

import Chevron from "@/icons/Chevron.astro";

const { title, description } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
    </head>
    <body>
        <div class="layout">
            <div class="header-wrapper">
                <Header />
            </div>
            <div class="nav-wrapper">
                <button class="nav-button"><Chevron /></button>
                <div class="menu-wrapper"><Menu /></div>
            </div>
            <div class="main-wrapper">
                <slot />
            </div>
            <div class="footer-wrapper">
                <Footer />
            </div>
        </div>
    </body>
</html>

<style is:global>
    body {
        margin: 0;
        padding: 0;
        font-family: system-ui, sans-serif;
        min-height: 100vh;
    }

    .layout {
        display: grid;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
        grid-template-columns: 300px auto;
        max-width: 1000px;
        width: 100%;
        height: auto;
        margin: auto;
        gap: 20px;
    }

    .header-wrapper {
        grid-area: header;
    }

    .nav-wrapper {
        grid-area: nav;
        max-width: 300px;
        border-right: 1px solid #ddd;
    }

    .main-wrapper {
        grid-area: main;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
    }

    .footer-wrapper {
        grid-area: footer;
    }

    .nav-button {
        display: none;
    }

    @media (max-width: 768px) {
        .layout {
            grid-template-columns: auto auto;
        }

        .nav-wrapper {
            /* width: 30px; */
            height: 100%;
        }

        .menu-wrapper {
            display: none;
        }

        .nav-button {
            display: flex;
            border: 1px solid #ddd;
            background-color: grey;
            cursor: pointer;
            border-radius: 100%;
            height: 32px;
            width: 32px;
            align-items: center;
            justify-content: center;
            transform: translateX(50%);
            margin-top: 40px;
            float: right;
        }

        .menu-wrapper.active {
            display: block;
        }

        .nav-button.active {
            transform: rotate(180deg) translateX(-50%);
        }
    }
</style>

<script>
    const navButton = document.querySelector(".nav-button");
    const menuWrapper = document.querySelector(".menu-wrapper");

    if (navButton && menuWrapper) {
        navButton.addEventListener("click", () => {
            navButton.classList.toggle("active");
            menuWrapper.classList.toggle("active");
        });
    }
</script>
